<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43426256297-6p2tubdr72t14qf491i0sdf4jrvph1o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43426256297-6p2tubdr72t14qf491i0sdf4jrvph1o0</string>
	<key>API_KEY</key>
	<string>AIzaSyDYxRrpw0VfgUlhfucSZKTxc47nHvtnit8</string>
	<key>GCM_SENDER_ID</key>
	<string>43426256297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dexterTask</string>
	<key>PROJECT_ID</key>
	<string>dexter-f7cf8</string>
	<key>STORAGE_BUCKET</key>
	<string>dexter-f7cf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43426256297:ios:935f27a0445acb5f7ae0b8</string>
</dict>
</plist>